[submodule "lib/BufferedRaylib"]
	path = lib/BufferedRaylib
	url = https://github.com/its-useless/BufferedRaylib
[submodule "lib/LuaBridge3"]
	path = lib/LuaBridge3
	url = https://github.com/kunitoki/LuaBridge3
